{% extends "_base.html" %}

{% block navigation %}
<div class="navbar navbar-static-top">
	<a class="navbar-brand" href="{{ url_for('index') }}"><b>Ninjaside</b></a>
  	<ul class="nav navbar-nav">
    {% for fp in flat_pages %}
    	<li>
    		<a href="{{ url_for('page', page_name=fp.name) }}">
    			{{ fp.title }}
    		</a>
    	</li>
    {% endfor %}
	</ul>
</div>
{% endblock %}

{% block sidebar %}
{% if categories %}
<ul class="nav nav-pills nav-stacked">
	{% for cat in categories %}
		{% if article %}
		<li {% if cat == article.meta.category %}class="active"{% endif %}>
			<a href="{{ url_for('category', category=cat) }}">
				{{ cat }}
			</a>
		</li>
		{% else %}
		<li>
			<a href="{{ url_for('category', category=cat) }}">
				{{ cat }}
			</a>
		</li>
		{% endif %}
	{% endfor %}
 </ul>
{% endif %}
<hr>
{% if tags %}
<div class=tags>
  	<ul>
	{% for tag, level in tags.items() %}
		<li class="{{ level }}">
			<a href="{{ url_for('tag', tag=tag) }}" title="{{ tag }}">{{ tag }}</a>
		</li>
	{% endfor %}
	</ul>
</div>
{% endif%}
{% endblock %}

{% block footer %}
<div class="panel-footer">
	<p>&copy; Copyright 2013 Alex Istinspring</p>
	<p><small><a class="no-pjax" href="/sitemap.xml">sitemap.xml</a></small></p>
</div>
{% endblock %}