{% extends "_base.html" %}

{% block navigation %}
<!--div class="navbar navbar-static-top"-->
    <div class="navbar-header">
	   <a class="navbar-brand" href="{{ url_for('index') }}"><b>Ninjaside</b></a>
  	</div>
    <ul class="nav navbar-nav">
    {% for fp in flat_pages %}
    	<li>
    		<a href="{{ url_for('page', name='page', page_name=fp.name) }}">
    			{{ fp.title }}
    		</a>
    	</li>
    {% endfor %}
	</ul>
	<ul class="nav navbar-nav pull-right">
		<li><a href="{{ url_for('wiki_index') }}"><b>Wiki</b></a></li>
	</ul>
<!--/div-->
{% endblock %}

{% block sidebar %}
{%- if categories %}
<ul class="nav nav-pills nav-stacked">
	{% for cat in categories %}
		{% if article %}
		<li {% if cat == article.meta.category %}class="active"{% endif %}>
			<a href="{{ url_for('category', category=cat) }}">
				{{ cat }}
			</a>
		</li>
		{% else %}
		<li {% if cat == category %}class="active"{% endif %}>
			<a href="{{ url_for('category', category=cat) }}">
				{{ cat }}
			</a>
		</li>
		{% endif %}
	{% endfor %}
 </ul>
{%- endif %}
<hr>
{%- if tags %}
<div class="tags">
  	<ul class="list-unstyled">
	{% for tag, level in tags.items() %}
		<li class="{{ level }}">
			{%- if article %}
			<a href="{{ url_for('tag', tag=tag) }}" title="{{ tag }}">{%- if tag in article.tags %}<b class="current-tag">{{ tag }}</b>{%- else %}{{ tag }}{%- endif %}</a>
			{%- else %}
			<a href="{{ url_for('tag', tag=tag) }}" title="{{ tag }}">{{ tag }}</a>
			{%- endif %}
		</li>
	{% endfor %}
	</ul>
</div>
{%- endif %}
{% endblock %}

{% block footer %}
<div class="panel-body">
	<p>&copy; Copyright 2013 Alex Istinspring</p>
	<p><small><a class="no-pjax" href="/sitemap.xml">sitemap.xml</a></small></p>
</div>
{% endblock %}