{% extends "_basepage.html" %}

{% block title %}Articles in {{ language }} - ninjaside.info{% endblock %}
{% block meta_description %}blog articles in {{ language }} language{% endblock %}
{% block meta_keywords %}ninjaside.info, blog, {{ language }}{% endblock %}
{% block page_language %}{{ language }}{% endblock %}


{% block content %}
<div class="panel-heading">
    <h1 class="panel-title">List of articles</h1>
</div>

<div class="panel-body">
    {% include "_articles_list.html" %}
</div>
{% endblock %}